.row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row .cell {
  float: left;
  width: 40px;
  height: 40px;
  border: 3px solid #000;
  cursor: pointer;
  padding: 10px;
}

.row .cell:hover {
  background-color: ghostwhite;
}

.row .cell .unit {
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  cursor: pointer;
  transition: 1s background-color ease;
}

.row .cell .unit:hover {
  background-color: aqua;
}

.row .cell .unit.selected {
  background-color: chartreuse;
  cursor: default;
}

.board .row:first-of-type .cell {
  border-top-width: 6px;
}

.board .row:last-of-type .cell {
  border-bottom-width: 6px;
}

.board .row .cell:first-of-type {
  border-left-width: 6px;
}

.board .row .cell:last-of-type {
  border-right-width: 6px;
}

#info h3 {
  color: chartreuse;
}

#secondary_info h3 {
  color: aqua;
}